*{
  font-weight: normal;
  font-family: PingFangSC, HYQiHei-IZS,Helvetica Neue,Helvetica,Hiragino Sans GB,STHeitiSC-Light,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,Arial,sans-serif;
  line-height: 1.5;
}
body,html {
  height: 100%; 
}
/* toast */
.toast {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  width: 100%;
  opacity: 0;
  transition: all .3s ease;
  transform: translateY(100%);
}
  
.toastShow {
  opacity: 1;
  transform: translateY(-200%);

  composes: toast;
}
  
.toastText {
  padding: 10rpx 20rpx;
  max-width: 50%;
  border-radius: 10rpx;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  text-align: center;
  font-size: 30rpx;
}
  

.container{
  position: relative;
  min-height: 100%;
  width: 100%;
}