.actorBox {
  width: 710rpx;
  height: 366rpx;
  margin: 44rpx auto 0;
  background: #F55340;
  box-shadow: inset 0 -1px 3px 0 #C94535, inset 0 1px 3px 0 #FFA79C;
  border-radius: 20rpx;
  overflow: hidden;
}
.actorInfo {
  display: flex;
  align-items: center;
  width: 670rpx;
  height: 300rpx;
  background: #FFF7D2;
  border-radius: 10rpx;
  padding-left: 40rpx;
  padding-right: 30rpx;
  margin: 24rpx auto 0;
}
.infoLeft {
  flex-shrink: 0;
  width: 185rpx;
  overflow: hidden;
}
.portrait {
  width: 144rpx;
  height: 144rpx;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
}
.name {
  font-family: PingFangSC-Regular;
  font-size: 28rpx;
  color: #BB3121;
  margin-top: 6rpx;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.infoRight {
  margin-left: 40rpx;
}
.infoItem {
  display: flex;
  margin-top: 7rpx;
}
.infoTitle {
  flex-shrink: 0;
  width: 220rpx;
  font-family: PingFangSC-Regular;
  font-size: 32rpx;
  color: #BB3121;
}
.infoContent {
  font-family: PingFangSC-Regular;
  font-weight: bold;
  font-size: 32rpx;
  color: #BB3121;
}